<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    #errores{
        color: white;
    }
    </style>
</head>
<body style="background-color:rgba(0, 0, 0, 0.699);">
    <% include ./staticos/header %>
    <div id="errores" class="container">
        
a problem is generated in the refresh the page code and if the problem continues to warn @chronocrypto
    </div>
</body>
</html>