<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="https://media.discordapp.net/attachments/475265370878640128/492387488241811471/WLS-Icon.png" width="30" height="30"  class="d-inline-block align-top" alt="">
            Whaleshares Data
        </a>
        <form class="form-inline my-2 my-lg-0">
                <a href="https://whaleshares.io/~witnesses">Consider voting for witness @chronocrypto</a>
        </form>
    </div>
    
      
</nav>